@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,600|Martel:400,900);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
    font-weight:200;
    line-height:1.1;
    color:#000000;
   }
    .h1,h1{font-size:1000%};
.body{
    background-color:grey;
    color: grey;
}
.html{
    color: grey;
    background-color: grey;
}